/* Typography */
body {
    font-family:'Open Sans', sans-serif;
  }

h6 {
    font-family: 'Pacifico', cursive;
  }

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar */
.navbar-brand {
    font-family: 'Inconsolata', cursive;
    font-size: 30px;
  }
  
.navbar-brand img {
    width: 30px;
    height: 30px;
  }

  .navbar-light .navbar-brand {
    color: lightskyblue;
  }
  
  .navbar {
    background-color: white;
  }
  
  /* Jumbotron */
    .jumbotron.jumbotron-fluid {
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: lightskyblue;
    font-family: 'Pacifico', cursive;
    color: black;
  }
  
  /* cards */
  .btn.btn-primary {
    background-color: lightskyblue;
    border-color: lightskyblue;
  }
  
  /* footer */
  .padding {
      padding-left: 10px;
  }

  .img-circle {
    border-radius: 50%;
}

 .page-footer {
   background-color: lightgray;
 }

 .page-footer h5 {
   font-family: 'Pacifico', cursive;
 }